body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin: 0;
}
#background {
    width:320px;
    height:470px;
    background: #f0f0ff;
}
header {
    background-color: skyblue;
    width: inherit;
}
#title{
    text-align: center;
    padding: 5px;
    font-size: 30px;
}
header a
{
    background: center center no-repeat transparent;
    background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 0;
}
#c-head {
    position: relative;
    z-index: -1;
}